{% block content %}
<div class="main" id="main">
    <section class="primary-content">
        <div class="container">
            <h1>Templates</h1>

            <ul>
                <li><a href="/templates/home/">Home</a></li>
            </ul>

        </div>
    </section>
</div>
{% endblock %}