.trigger {
    span {
        font-size: 0.75em;
        margin-right: 0.25em;
    }
}
.scroller {
    overflow-y: scroll;
}
.scroller,
.scroller-inner {
    position: relative;
}
.wrapper{
    position: relative;
    overflow: hidden;
}

.mp-pusher {
    position: relative;
    left: 0;
    height: 100%;
}

.mp-menu {
    position: absolute; /* we can't use fixed here :( */
    top: 0;
    left: 0;
    z-index: 1;
    width: rem(300px);
    height: 100%;
    transform: translate3d(-100%, 0, 0);
}

.mp-level {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(-100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    content: '';
    opacity: 0;
}

.mp-pusher::after,
.mp-level::after {
    transition:opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.mp-level::after {
    z-index: -1;
}

.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
    transition:opacity 0.3s;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.mp-level.mp-level-overlay {
    cursor: pointer;
}

.mp-level.mp-level-overlay.mp-level::before {
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 1;
}

.mp-pusher,
.mp-level {
    transition:all 0.5s;
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
    transform: translate3d(-40px, 0, 0);
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
    transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .mp-level.mp-level-open {
    transform: translate3d(0, 0, 0);
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
    transform: translate3d(-100%, 0, 0);
}

/* content style */
.mp-menu {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display:block;
        width:100%;
        padding:0;
    }
    a {
        display: block;
    }
}


.mp-menu.mp-overlap h2::before {
    margin-right:rem($line/2);
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s, transform 0.1s 0.3s;
    transform: translateX(-100%);
}

.mp-menu {
    a {
        padding:rem($line/1.5 $line/2 $line/1.5 $line/1.5);
        width:100%;
    }
    li > a {
        display: block;
        float:left;
        outline: none;
        transition: background 0.3s, box-shadow 0.3s;
    }
    .mp-deeper {
        padding:rem($line/1.3 $line/2 $line/1.7 $line/2);
        border-right:1px solid;
        width:17%;
        text-align: center;

        &:hover,
        &:active,
        &:focus {
            transition:all 0.3s;
            padding-left: rem($line/4);
            padding-right: rem($line/1.5);
        }

        + a {
            padding:rem($line/1.5 $line/2 $line/1.5 $line/2);
            width:83%;
        }
    }
}

.mp-menu ul li::before {
    position: absolute;
    left: 10px;
    z-index: -1;
    line-height: 3.5;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
    padding-left: rem(300px);
}

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
    display: none;
}

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
    display: block;
}

@media only screen and (min-width: $screenSmall) {
    .trigger {
        display: none;
    }
}