//* =============================================================================
//   Default Colours
//   ========================================================================== */

$background: #FFFFFF;
$dark-background: #DDDDDD;
$text: #333333;
$mid-text: #999999;
$light-text: #AAAAAA;
$accent: red;