//* =============================================================================
//   Default Colours
//   ========================================================================== */

$white: #FFFFFF;
$dark-grey: #333333;
$red: red;


//Social Colours
$twitter: #00ACED;
$facebook: #3B579D;
$youtube: #CC181E;
$linkedin: #1B86BC;
$tumblr: #304E6A;
$vimeo: #20B9EB;
$github: #333333;
$googleplus: #DD4B39;

///* =============================================================================
//   Borders
//   ========================================================================== */

$rule: 1px solid $dark-grey;
$red-rule: 1px solid $red;
$white-rule: 1px solid $white;
$keyline: 1px solid lighten($dark-grey, 10);
$hairline: 1px solid lighten($dark-grey, 20);

$default-border-radius: 3px;

///* =============================================================================
//   Font Stacks
//   ========================================================================== */

$serif: serif;
$sans: sans-serif;
$mono: monospace;

//Set Quotes
$open-quote:    “;
$close-quote:   ”;

// FONT WEIGHTS

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$heavy: 900;


///* =============================================================================
//   Base Sizes
//   ========================================================================== */


$line-n: 24; // Set the line height (in px) Also determines gutter width.
$line: $line-n * 1px; //Convert to pixels for common use
$base: 16; // Set the base font size (in px)

// Set the page margins (14 is nice for 12 col grid…
// It results in an even column unit for either margin. EG, I'd use 18 for a 16 column grid).
$margin: 100% / 20;


///* =============================================================================
//   Grid
//   ========================================================================== */

// USAGE
// width: $c6*3; // This is 3 units of a 6 unit grid wide
// margin-left: $c4*2; // This pushes the element 2 units (of a 4 element grid) to the left

// You should add @include wrap; to each column adjustment
// It's recomended to change box sizing to border-box for easier styling and positining.
// Read more here: http://goldengridsystem.com

// Have fun. Make as many as you like. Simple.

// Primary Grid
//=============\\
//Three Column Grid
$c3: 100% / 3;
//Four Column Grid
$c4: 100% / 4;
// Five Columns
$c5: 100% / 5;
//Six Column Grid
$c6: 100% / 6;
//Seven Column Grid
$c7: 100% / 7;
//Eight Column Grid
$c8: 100% / 8;
//Nine Column Grid
$c9: 100% / 9;
//Ten Column Grid
$c10: 100% / 10;
//Twelve Column Grid
$c12: 100% / 12;



///* =============================================================================
//   Breakpoints
//   ========================================================================== */

// Adjust according to content not device.

$screenSmall: 48em !default;
$screenSmallMedium:54em !default;
$screenMedium: 64em !default;
$screenLarge: 98em !default;
$screenXlarge: 110em !default;
