/* line 11, ../../../static/scss/pages/cart.scss */
.cart-totals {
  margin-bottom: 4.5rem;
}

/* line 14, ../../../static/scss/pages/cart.scss */
.checkout-form {
  margin-bottom: 4.5rem;
}

/* line 18, ../../../static/scss/pages/cart.scss */
.billing-address,
.shipping-address {
  margin-bottom: 3rem;
}

/* line 21, ../../../static/scss/pages/cart.scss */
.address-switch {
  clear: both;
  margin-top: 1.5rem;
  margin-bottom: 1.8rem;
}

/* line 27, ../../../static/scss/pages/cart.scss */
.no-js .address-switch {
  display: none;
}

/* line 31, ../../../static/scss/pages/cart.scss */
.payment button {
  margin-bottom: 1.5rem;
}

/* line 34, ../../../static/scss/pages/cart.scss */
.checkout-form__req-label {
  margin-bottom: 2.175rem;
  margin-top: 2.175rem;
}

/* line 38, ../../../static/scss/pages/cart.scss */
.print {
  margin-top: 2.25rem;
}

@media only screen and (min-width: 48em) {
  /* line 42, ../../../static/scss/pages/cart.scss */
  .cart-items {
    padding-left: 12px;
    padding-left: 0.75rem;
    padding-right: 12px;
    padding-right: 0.75rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 45, ../../../static/scss/pages/cart.scss */
  .cart-totals {
    float: right;
    width: 50%;
  }
  /* line 52, ../../../static/scss/pages/cart.scss */
  .cart-totals h6,
  .cart-totals h5,
  .cart-totals h4,
  .cart-totals h3 {
    float: left;
    margin: 0;
  }
  /* line 56, ../../../static/scss/pages/cart.scss */
  .cart-totals p {
    float: right;
    text-align: right;
  }

  /* line 61, ../../../static/scss/pages/cart.scss */
  .billing-address {
    float: left;
    width: 42.85714%;
  }

  /* line 66, ../../../static/scss/pages/cart.scss */
  .payment,
  .shipping-address {
    float: right;
    width: 42.85714%;
  }

  /* line 70, ../../../static/scss/pages/cart.scss */
  .order-tally {
    clear: both;
    float: left;
    width: 42.85714%;
    margin-top: 1.5rem;
  }

  /* line 77, ../../../static/scss/pages/cart.scss */
  .payment button {
    float: left;
  }
  /* line 80, ../../../static/scss/pages/cart.scss */
  .payment button + p {
    float: right;
  }
}
@media only screen and (min-width: 64em) {
  /* line 89, ../../../static/scss/pages/cart.scss */
  .cart-totals {
    width: 33.33333%;
  }
}
