/* For image replacement */
/* line 6, ../../../static/scss/settings/_helpers.scss */
.ir {
  background-repeat: no-repeat;
  direction: ltr;
  display: block;
  text-align: left;
  text-indent: -999em;
  overflow: hidden;
}
/* line 14, ../../../static/scss/settings/_helpers.scss */
.ir br {
  display: none;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 21, ../../../static/scss/settings/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 28, ../../../static/scss/settings/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
}
/* line 41, ../../../static/scss/settings/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 53, ../../../static/scss/settings/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 56, ../../../static/scss/settings/_helpers.scss */
.right {
  float: right;
}

/* line 59, ../../../static/scss/settings/_helpers.scss */
.left {
  float: left;
}

/* line 63, ../../../static/scss/settings/_helpers.scss */
.clear {
  clear: both;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 66, ../../../static/scss/settings/_helpers.scss */
.group, .button-group, fieldset, .field, body.login form p, #sign-in-form .login-username,
#sign-in-form .login-password, .field--check label, legend, .pagination, .woocommerce-pagination, .products {
  zoom: 1;
}
/* line 70, ../../../static/scss/settings/_helpers.scss */
.group:before, .button-group:before, fieldset:before, .field:before, body.login form p:before, #sign-in-form .login-username:before,
#sign-in-form .login-password:before, .field--check label:before, legend:before, .pagination:before, .woocommerce-pagination:before, .products:before, .group:after, .button-group:after, fieldset:after, .field:after, body.login form p:after, #sign-in-form .login-username:after,
#sign-in-form .login-password:after, .field--check label:after, legend:after, .pagination:after, .woocommerce-pagination:after, .products:after {
  content: " ";
  display: table;
}
/* line 75, ../../../static/scss/settings/_helpers.scss */
.group:after, .button-group:after, fieldset:after, .field:after, body.login form p:after, #sign-in-form .login-username:after,
#sign-in-form .login-password:after, .field--check label:after, legend:after, .pagination:after, .woocommerce-pagination:after, .products:after {
  clear: both;
}

/* line 85, ../../../static/scss/settings/_helpers.scss */
#googlemap img,
object,
embed,
#map_canvas embed,
#map_canvas img,
#map_canvas object {
  max-width: none;
}

/* Misc ---------------------- */
/* line 91, ../../../static/scss/settings/_helpers.scss */
.text--left {
  text-align: left;
}

/* line 94, ../../../static/scss/settings/_helpers.scss */
.text--right {
  text-align: right;
}

/* line 97, ../../../static/scss/settings/_helpers.scss */
.text--center {
  text-align: center;
}

/* line 100, ../../../static/scss/settings/_helpers.scss */
.hide {
  display: none;
}

/* line 103, ../../../static/scss/settings/_helpers.scss */
.highlight {
  background: #eccc32;
}

/* line 3, ../../../static/scss/global/_buttons.scss */
button,
input[type="submit"],
a.button {
  position: relative;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

/* line 45, ../../../static/scss/global/_buttons.scss */
a.button--icon span,
.button--icon span {
  display: inline-block;
  vertical-align: middle;
}

/* line 60, ../../../static/scss/global/_buttons.scss */
a.button--disabled,
a.button--disabled:hover,
a.button--disabled:active,
a.button--disabled:focus,
.button--disabled,
.button--disabled:hover,
.button--disabled:active,
.button--disabled:focus {
  cursor: default;
}

@media only screen and (max-width: 48em) {
  /* line 80, ../../../static/scss/global/_buttons.scss */
  .button-group .button, .button-group input[type=file],
  .button-group a.button,
  .button-group button {
    padding: 16px;
    padding: 1rem;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    display: block;
  }
  /* line 88, ../../../static/scss/global/_buttons.scss */
  .button-group .button:first-child, .button-group input[type=file]:first-child,
  .button-group a.button:first-child,
  .button-group button:first-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  /* line 95, ../../../static/scss/global/_buttons.scss */
  .button-group .button:last-child, .button-group input[type=file]:last-child,
  .button-group a.button:last-child,
  .button-group button:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

@media only screen and (min-width: 48em) {
  /* line 107, ../../../static/scss/global/_buttons.scss */
  .button-group .button, .button-group input[type=file],
  .button-group a.button,
  .button-group button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    margin: 0;
    float: left;
  }
  /* line 120, ../../../static/scss/global/_buttons.scss */
  .button-group .button:first-child, .button-group input[type=file]:first-child,
  .button-group a.button:first-child,
  .button-group button:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  /* line 127, ../../../static/scss/global/_buttons.scss */
  .button-group .button:last-child, .button-group input[type=file]:last-child,
  .button-group a.button:last-child,
  .button-group button:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
  }
}
/* line 4, ../../../static/scss/global/_forms.scss */
fieldset {
  padding: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border: none;
  display: block;
}

/* line 13, ../../../static/scss/global/_forms.scss */
.field, body.login form p, #sign-in-form .login-username,
#sign-in-form .login-password {
  position: relative;
}

/* line 37, ../../../static/scss/global/_forms.scss */
.label--error {
  position: absolute;
  left: 0;
  bottom: rem(30px);
}

/* line 59, ../../../static/scss/global/_forms.scss */
.spoken-form label {
  display: inline-block;
  font: inherit;
}

/* line 72, ../../../static/scss/global/_forms.scss */
.text-input, textarea, .search-input,
input[type=search], select, input[type=file], body.login input[type=text],
body.login input[type=password], #sign-in-form .login-username input,
#sign-in-form .login-password input {
  -webkit-appearance: none;
  -webkit-transition: color, background-color 0.1s linear, max-width 1s ease;
  -moz-transition: color, background-color 0.1s linear, max-width 1s ease;
  -o-transition: color, background-color 0.1s linear, max-width 1s ease;
  transition: color, background-color 0.1s linear, max-width 1s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  outline: none;
}

/* line 93, ../../../static/scss/global/_forms.scss */
textarea {
  min-height: 144px;
}

/* line 98, ../../../static/scss/global/_forms.scss */
.search-form {
  position: relative;
}
/* line 101, ../../../static/scss/global/_forms.scss */
.search-form button {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 109, ../../../static/scss/global/_forms.scss */
.search-input,
input[type=search] {
  overflow: hidden;
}

/* line 119, ../../../static/scss/global/_forms.scss */
select {
  width: 100%;
}

/* line 141, ../../../static/scss/global/_forms.scss */
.check-list {
  list-style: none;
  margin: 0;
}

/* line 149, ../../../static/scss/global/_forms.scss */
.check-label,
.check-list label,
.check-list .label {
  display: inline-block;
}

/* line 166, ../../../static/scss/global/_forms.scss */
.extra-help {
  display: inline-block;
  visibility: hidden;
}

/* line 171, ../../../static/scss/global/_forms.scss */
.text-input:active + .extra-help, textarea:active + .extra-help, .search-input:active + .extra-help,
input[type=search]:active + .extra-help, select:active + .extra-help, input[type=file]:active + .extra-help, body.login input[type=text]:active + .extra-help,
body.login input[type=password]:active + .extra-help, #sign-in-form .login-username input:active + .extra-help,
#sign-in-form .login-password input:active + .extra-help,
.text-input:focus + .extra-help,
textarea:focus + .extra-help,
.search-input:focus + .extra-help,
input[type=search]:focus + .extra-help,
select:focus + .extra-help,
input[type=file]:focus + .extra-help,
body.login input[type=text]:focus + .extra-help,
body.login input[type=password]:focus + .extra-help,
#sign-in-form .login-username input:focus + .extra-help,
#sign-in-form .login-password input:focus + .extra-help {
  visibility: visible;
}

@media only screen and (min-width: 48em) {
  /* line 200, ../../../static/scss/global/_forms.scss */
  fieldset h2,
  .field,
  body.login form p,
  #sign-in-form .login-username,
  #sign-in-form .login-password {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
  }

  /* line 204, ../../../static/scss/global/_forms.scss */
  .field--half {
    width: 50%;
    float: left;
  }
  /* line 208, ../../../static/scss/global/_forms.scss */
  .field--half + .field--half {
    clear: none;
  }
  /* line 211, ../../../static/scss/global/_forms.scss */
  .field--half + .field--half + .field--half {
    clear: left;
    padding-left: 0;
  }
  /* line 215, ../../../static/scss/global/_forms.scss */
  .field--half + .field--half + .field--half + .field--half {
    clear: none;
  }
}
/* line 1, ../../../static/scss/modules/_sign-in.scss */
.drawer.sign-in {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  padding: 0;
  max-height: 0;
}
/* line 7, ../../../static/scss/modules/_sign-in.scss */
.drawer.sign-in.opened {
  max-height: 1000px;
}
/* line 10, ../../../static/scss/modules/_sign-in.scss */
.drawer.sign-in .field--check {
  width: 80%;
  float: right;
}
/* line 14, ../../../static/scss/modules/_sign-in.scss */
.drawer.sign-in button {
  float: left;
}

@media only screen and (min-width: 48em) {
  /* line 23, ../../../static/scss/modules/_sign-in.scss */
  .sign-in-form, #sign-in-form {
    padding-left: 12px;
    padding-left: 0.75rem;
    padding-right: 12px;
    padding-right: 0.75rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 71.42857%;
    margin-left: 14.28571%;
  }
}
@media only screen and (min-width: 64em) {
  /* line 31, ../../../static/scss/modules/_sign-in.scss */
  .sign-in-form, #sign-in-form {
    width: 66.66667%;
    margin-left: 16.66667%;
  }
}
@media only screen and (min-width: 64em) {
  /* line 38, ../../../static/scss/modules/_sign-in.scss */
  .sign-in-form, #sign-in-form {
    width: 50%;
    margin-left: 25%;
  }
}
/* line 1, ../../../static/scss/modules/_pagination.scss */
.pagination, .woocommerce-pagination {
  margin-top: 24px;
  margin-top: 1.5rem;
}
/* line 5, ../../../static/scss/modules/_pagination.scss */
.pagination li, .woocommerce-pagination li {
  display: block;
  padding: 0;
  float: left;
  margin: 1px;
}
/* line 11, ../../../static/scss/modules/_pagination.scss */
.pagination a, .woocommerce-pagination a {
  padding: 4px 12px;
  padding:  0.25rem 0.75rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
}
/* line 17, ../../../static/scss/modules/_pagination.scss */
.pagination a:link, .woocommerce-pagination a:link, .pagination a:visited, .woocommerce-pagination a:visited {
  background: white;
  color: #58a2c4;
}
/* line 23, ../../../static/scss/modules/_pagination.scss */
.pagination a:hover, .woocommerce-pagination a:hover, .pagination a:active, .woocommerce-pagination a:active {
  background: #58a2c4;
  color: white;
}
/* line 29, ../../../static/scss/modules/_pagination.scss */
.pagination .current a, .woocommerce-pagination .current a {
  background: #58a2c4;
  color: white;
  cursor: default;
}

/* line 37, ../../../static/scss/modules/_pagination.scss */
.pagination--mini a {
  display: block;
  float: left;
  text-transform: lowercase;
  margin: 1px;
}

/* line 19, ../../../static/scss/pages/wordpress.scss */
body.login #login {
  width: 50%;
  margin: 0 auto;
}
/* line 24, ../../../static/scss/pages/wordpress.scss */
body.login h1 {
  text-align: center;
}
/* line 28, ../../../static/scss/pages/wordpress.scss */
body.login form {
  width: 100%;
}

/* line 45, ../../../static/scss/pages/wordpress.scss */
.home aside {
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 12px;
  padding-right: 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}

/* line 52, ../../../static/scss/pages/wordpress.scss */
.footer section {
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 12px;
  padding-right: 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
}
/* line 57, ../../../static/scss/pages/wordpress.scss */
.footer section.logged-in {
  width: 33.33333%;
}
/* line 60, ../../../static/scss/pages/wordpress.scss */
.footer section.logged-in:last-child {
  display: none;
}
/* line 65, ../../../static/scss/pages/wordpress.scss */
.footer section .ss-facebook {
  color: #3b5998;
}
/* line 68, ../../../static/scss/pages/wordpress.scss */
.footer section .ss-twitter {
  color: #00aced;
}
/* line 71, ../../../static/scss/pages/wordpress.scss */
.footer section .ss-googleplus {
  color: #dd4b39;
}
/* line 74, ../../../static/scss/pages/wordpress.scss */
.footer section .ss-linkedin {
  color: #007bb6;
}
/* line 77, ../../../static/scss/pages/wordpress.scss */
.footer section .ss-youtube {
  color: #bb0000;
}
/* line 81, ../../../static/scss/pages/wordpress.scss */
.footer section .ss-social-regular {
  opacity: .75;
  font-size: 2.5em;
  text-align: center;
  float: left;
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 12px;
  padding-right: 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
}
/* line 89, ../../../static/scss/pages/wordpress.scss */
.footer section .ss-social-regular:hover {
  opacity: 1;
}

/* line 95, ../../../static/scss/pages/wordpress.scss */
.footer .copy {
  float: left;
  clear: both;
}

/* line 125, ../../../static/scss/pages/wordpress.scss */
#template-info-button {
  position: absolute;
  top: 20px;
  left: 45%;
}

/* line 133, ../../../static/scss/pages/wordpress.scss */
.woocommerce .page-title {
  display: none;
}
/* line 137, ../../../static/scss/pages/wordpress.scss */
.woocommerce .woocommerce-result-count {
  float: left;
}
/* line 141, ../../../static/scss/pages/wordpress.scss */
.woocommerce .woocommerce-ordering {
  float: right;
  margin-bottom: 30px;
}
/* line 147, ../../../static/scss/pages/wordpress.scss */
.woocommerce .content-area,
.woocommerce .widget-area {
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 12px;
  padding-right: 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
/* line 152, ../../../static/scss/pages/wordpress.scss */
.woocommerce .content-area {
  width: 66.66667%;
}
/* line 156, ../../../static/scss/pages/wordpress.scss */
.woocommerce .widget-area {
  width: 33.33333%;
}

/* line 162, ../../../static/scss/pages/wordpress.scss */
.products {
  clear: both;
  list-style-type: none;
}
/* line 167, ../../../static/scss/pages/wordpress.scss */
.products .product {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #b1bdb4;
}
/* line 176, ../../../static/scss/pages/wordpress.scss */
.products .product h3 {
  margin-top: 0;
}
/* line 180, ../../../static/scss/pages/wordpress.scss */
.products .product img {
  float: left;
  margin-right: 1em;
}
/* line 185, ../../../static/scss/pages/wordpress.scss */
.products .product .product_type_simple {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 194, ../../../static/scss/pages/wordpress.scss */
.products .product .product_type_simple.loading:after {
  font-family: "SSSymbolicons";
  content: "\EB82";
  display: inline-block;
  margin: 0 10px;
}
/* line 206, ../../../static/scss/pages/wordpress.scss */
.products .product .product_type_simple.added:after {
  font-family: "SSSymbolicons";
  content: "\E500";
  display: inline-block;
  margin: 0 10px;
}
/* line 215, ../../../static/scss/pages/wordpress.scss */
.products .product p {
  color: #314957;
}

/* line 224, ../../../static/scss/pages/wordpress.scss */
.woocommerce-pagination .current {
  padding: 4px 12px;
  padding:  0.25rem 0.75rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  background: #58a2c4;
  color: white;
  cursor: default;
}
/* line 234, ../../../static/scss/pages/wordpress.scss */
.woocommerce-pagination .current:link, .woocommerce-pagination .current:visited {
  background: white;
  color: #58a2c4;
}
/* line 240, ../../../static/scss/pages/wordpress.scss */
.woocommerce-pagination .current:hover, .woocommerce-pagination .current:active {
  background: #58a2c4;
  color: white;
}

/* line 248, ../../../static/scss/pages/wordpress.scss */
.cart-contents {
  font-size: 1em;
}
/* line 251, ../../../static/scss/pages/wordpress.scss */
.cart-contents.added {
  font-size: 1.5em;
}
