// TEXT COLOURS
* {
    @include selected($background, $accent);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    > span,
    > small,
    > strong {
        color:$light-text;
    }
    a {
        &:link,
        &:visited {
            color: $accent;
        }
        &:hover,
        &:active,
        &:focus {
            color:$mid-text;
        }
    }
}

a.disabled {
    color:$mid-text !important;
}

.highlight  {
    background: $accent;
}