<footer class="footer row">
    <div class="container">
        <p><small>&copy; {{ 'now' | date: "%Y" }}. {{ global.title }}. All rights reserved. <a href="">Privacy policy</a>.</small></p>
    </div>
</footer>