<header class="header row">
    <div class="container">
        <div class="logo">
            <a href="/" class="logo">{{ global.title }}</a>
            <p class="tagline">{{ global.tagline }}</p>
        </div>
        <nav class="horizontal-nav">
            <ul>
                <li><a href="/typography/">Typography</a></li>
                <li><a href="/grids/">Grids</a></li>
                <li><a href="/forms/">Forms</a></li>
                <li><a href="/tables/">Tables</a></li>
                <li><a href="/icons/">Icons</a></li>
                <li><a href="/color/">Color</a></li>
                <li><a href="/components/">Components</a></li>
                <li><a href="/modules/">Layout Modules</a></li>
                <li><a href="/templates/">Templates</a></li>
            </ul>
        </nav>
    </div>
    <hr>
</header>