/* [sass, static/scss, ui-kit.scss] */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.ir {
  background-repeat: no-repeat;
  direction: ltr;
  display: block;
  text-align: left;
  text-indent: -999em;
  overflow: hidden; }
  .ir br {
    display: none; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */ }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.invisible {
  visibility: hidden; }

.right {
  float: right; }

.left {
  float: left; }

.clear {
  clear: both; }

nav ul, .grid {
  zoom: 1; }
  nav ul:before, .grid:before, nav ul:after, .grid:after {
    content: " ";
    display: table; }
  nav ul:after, .grid:after {
    clear: both; }


.text--left {
  text-align: left; }

.text--right {
  text-align: right; }

.text--center {
  text-align: center; }

.hide {
  display: none; }

.primary * {
  font-family: serif; }

.secondary * {
  font-family: sans-serif; }

.color1 {
  background: #333333; }

.color2 {
  background: #999999; }

.color3 {
  background: red; }



.logo {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  max-width: 200px; }


nav {
  clear: both; }
  nav ul > li {
    display: inline-block; }
    nav ul > li a {
      display: block;
      padding-right: 12px; }

.type-sample p {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2.25rem;
  letter-spacing: 0.1em; }

.scale {
  max-width: 30em; }
  .scale td {
    padding: 0; }

.key {
  font-weight: 700; }

.colors {
  background: #fff; }

.swatch {
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 12px;
  padding-right: 0.75rem;
  position: relative;
  display: inline-block;
  margin: 0.75rem 0.75rem 4.5rem 0.75rem;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  text-align: center; }
  .swatch p {
    position: absolute;
    bottom: -75%;
    left: 0;
    width: 100%; }

.iconset ul {
  list-style: none; }

.grids .container hr {
  clear: both; }
.grids .folding {
  margin-bottom: 24px;
  height: 240px;
  float: left;
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 12px;
  padding-right: 0.75rem; }
  .grids .folding span {
    display: block;
    width: 100%;
    height: 240px;
    background: #333333; }
.grids h2 {
  clear: both; }

.grid.grid--3-6-12 .three {
  width: 33.33333%;
  display: block !important; }
.grid.grid--3-6-12 .six, .grid.grid--3-6-12 .twelve {
  display: none; }
.grid.grid--2-4-8 .two {
  width: 50%;
  display: block !important; }
.grid.grid--2-4-8 .four, .grid.grid--2-4-8 .eight {
  display: none; }
.grid.grid--3-5-7 .three {
  width: 33.33333%;
  display: block !important; }
.grid.grid--3-5-7 .five, .grid.grid--3-5-7 .seven {
  display: none; }
.grid.grid--4-8-16 .four {
  width: 25%;
  display: block !important; }
.grid.grid--4-8-16 .eight, .grid.grid--4-8-16 .sixteen {
  display: none; }

.combined-grid {
  position: relative;
  width: 100%;
  padding: 0; }
  .combined-grid .grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    opacity: 0.3;
    padding: 0 !important; }

@media only screen and (min-width: 48em) {
  .paragraphs {
    width: 75%; }
  .iconset {
    padding-left: 12px;
    padding-left: 0.75rem;
    padding-right: 12px;
    padding-right: 0.75rem;
    width: 50%;
    float: left; }
  .grid {
    padding: 0 !important; }
    .grid.grid--2-4-8 .four {
      width: 25%;
      display: block !important; }
    .grid.grid--2-4-8 .eight {
      display: none; }
    .grid.grid--3-5-7 .five {
      width: 20%;
      display: block !important; }
    .grid.grid--3-5-7 .seven {
      display: none; }
    .grid.grid--3-6-12 .six {
      width: 16.66667%;
      display: block !important; }
    .grid.grid--3-6-12 .twelve {
      display: none; }
    .grid.grid--4-8-16 .eight {
      width: 12.5%;
      display: block !important; }
    .grid.grid--4-8-16 .sixteen {
      display: none; }
  .callouts .callout {
    padding-left: 12px;
    padding-left: 0.75rem;
    padding-right: 12px;
    padding-right: 0.75rem;
    float: left;
    width: 50%; }
    .callouts .callout:nth-child(odd) {
      clear: both; } }

@media only screen and (min-width: 98em) {
  .type-sample {
    width: 50%;
    float: left; }
  .paragraphs {
    width: 50%; }
  .iconset {
    width: 33.33333%; } }

@media only screen and (min-width: 110em) {
  .grid.grid--2-4-8 .eight {
    width: 12.5%;
    display: block !important; }
  .grid.grid--3-5-7 .seven {
    width: 14.28571%;
    display: block !important; }
  .grid.grid--3-6-12 .twelve {
    width: 8.33333%;
    display: block !important; }
  .grid.grid--4-8-16 .sixteen {
    width: 6.25%;
    display: block !important; }
  .callouts .callout {
    width: 25%; }
    .callouts .callout:nth-child(odd) {
      clear: none; } }

/*# sourceMappingURL=ui-kit.css.map */
