/* line 12, ../../static/scss/ui-kit.scss */
.primary * {
  font-family: serif;
}

/* line 16, ../../static/scss/ui-kit.scss */
.secondary * {
  font-family: sans-serif;
}

/* line 21, ../../static/scss/ui-kit.scss */
.color1 {
  background: #333333;
}

/* line 22, ../../static/scss/ui-kit.scss */
.color2 {
  background: red;
}

/* line 26, ../../static/scss/ui-kit.scss */
section {
  padding: 72px 0;
  padding:  4.5rem 0;
}

/* line 29, ../../static/scss/ui-kit.scss */
.header {
  padding: 24px 0 0 0;
  padding:  1.5rem 0 0 0;
}

/* line 32, ../../static/scss/ui-kit.scss */
.logo {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  max-width: 200px;
}

/* line 36, ../../static/scss/ui-kit.scss */
.tagline {
  margin-top: 24px;
  margin-top: 1.5rem;
}

/* line 40, ../../static/scss/ui-kit.scss */
nav {
  clear: both;
}
/* line 42, ../../static/scss/ui-kit.scss */
nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 45, ../../static/scss/ui-kit.scss */
nav ul > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../../Applications/Mixture.app/Contents/Resources/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav ul > li:first-child, nav ul > li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../Applications/Mixture.app/Contents/Resources/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav ul > li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../Applications/Mixture.app/Contents/Resources/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav ul > li.last {
  padding-right: 0;
}
/* line 48, ../../static/scss/ui-kit.scss */
nav ul > li a {
  display: block;
  padding-right: 12px;
}

/* line 57, ../../static/scss/ui-kit.scss */
.type-sample p {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 36px;
  letter-spacing: 0.1em;
}

/* line 65, ../../static/scss/ui-kit.scss */
.grids .container hr {
  clear: both;
}
/* line 68, ../../static/scss/ui-kit.scss */
.grids .container div {
  margin-bottom: 24px;
  height: 240px;
  float: left;
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 12px;
  padding-right: 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 74, ../../static/scss/ui-kit.scss */
.grids .container div span {
  display: block;
  width: 100%;
  height: 240px;
}

/* line 82, ../../static/scss/ui-kit.scss */
.content {
  max-width: 40em;
}

/* line 87, ../../static/scss/ui-kit.scss */
.iconset ul {
  list-style: none;
}

/* line 92, ../../static/scss/ui-kit.scss */
.scale {
  max-width: 30em;
}
/* line 95, ../../static/scss/ui-kit.scss */
.scale td {
  padding: 0;
}

/* line 100, ../../static/scss/ui-kit.scss */
.key {
  font-weight: 700;
}

/* line 105, ../../static/scss/ui-kit.scss */
.colors {
  background: #fff;
}

/* line 108, ../../static/scss/ui-kit.scss */
.swatch {
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 12px;
  padding-right: 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  margin: 12px 12px 72px 12px;
  margin:  0.75rem 0.75rem 4.5rem 0.75rem;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 120px;
}
/* line 118, ../../static/scss/ui-kit.scss */
.swatch p {
  position: absolute;
  bottom: -75%;
  left: 0;
  width: 100%;
}

/* line 128, ../../static/scss/ui-kit.scss */
.grids span {
  background: #333333;
}
/* line 131, ../../static/scss/ui-kit.scss */
.grids h2 {
  clear: both;
}

/* line 135, ../../static/scss/ui-kit.scss */
.three {
  width: 33.33333%;
}

/* line 138, ../../static/scss/ui-kit.scss */
.five {
  width: 20%;
}

/* line 141, ../../static/scss/ui-kit.scss */
.six {
  width: 16.66667%;
}

/* line 150, ../../static/scss/ui-kit.scss */
.folding.four, .folding.five, .folding.six, .folding.seven, .folding.eight {
  display: none;
}
/* line 153, ../../static/scss/ui-kit.scss */
.folding.two {
  display: block !important;
  width: 50%;
}
/* line 157, ../../static/scss/ui-kit.scss */
.folding.three {
  display: block !important;
  width: 33.33333%;
}

/* line 163, ../../static/scss/ui-kit.scss */
.combined-grid {
  position: relative;
  width: 100%;
  padding: 0;
}
/* line 168, ../../static/scss/ui-kit.scss */
.combined-grid .grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  opacity: 0.3;
  padding: 0 !important;
}

@media only screen and (min-width: 48em) {
  /* line 180, ../../static/scss/ui-kit.scss */
  .iconset {
    padding-left: 12px;
    padding-left: 0.75rem;
    padding-right: 12px;
    padding-right: 0.75rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }

  /* line 186, ../../static/scss/ui-kit.scss */
  .folding.four {
    display: block;
    width: 25%;
  }
  /* line 190, ../../static/scss/ui-kit.scss */
  .folding.five {
    display: block;
    width: 20%;
  }

  /* line 196, ../../static/scss/ui-kit.scss */
  .callouts .callout {
    padding-left: 12px;
    padding-left: 0.75rem;
    padding-right: 12px;
    padding-right: 0.75rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 50%;
  }
  /* line 201, ../../static/scss/ui-kit.scss */
  .callouts .callout:nth-child(odd) {
    clear: both;
  }
}
@media only screen and (min-width: 98em) {
  /* line 209, ../../static/scss/ui-kit.scss */
  .iconset {
    width: 33.33333%;
  }
}
@media only screen and (min-width: 110em) {
  /* line 217, ../../static/scss/ui-kit.scss */
  .folding.six {
    display: block;
    width: 16.66667%;
  }
  /* line 221, ../../static/scss/ui-kit.scss */
  .folding.seven {
    display: block;
    width: 14.28571%;
  }
  /* line 225, ../../static/scss/ui-kit.scss */
  .folding.eight {
    display: block;
    width: 12.5%;
  }

  /* line 231, ../../static/scss/ui-kit.scss */
  .callouts .callout {
    width: 25%;
  }
  /* line 234, ../../static/scss/ui-kit.scss */
  .callouts .callout:nth-child(odd) {
    clear: none;
  }
  /* line 237, ../../static/scss/ui-kit.scss */
  .callouts .callout:nth-child(4n+5) {
    clear: both;
  }
}
