/* [sass, static/scss, ui-kit.scss] */
/* line 4, /Users/trav/Sites/projects/AgnosticMixture/static/scss/global/_helpers.scss */
.ir {
  background-repeat: no-repeat;
  direction: ltr;
  display: block;
  text-align: left;
  text-indent: -999em;
  overflow: hidden; }
  /* line 12, /Users/trav/Sites/projects/AgnosticMixture/static/scss/global/_helpers.scss */
  .ir br {
    display: none; }

/* line 17, /Users/trav/Sites/projects/AgnosticMixture/static/scss/global/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden; }

/* line 23, /Users/trav/Sites/projects/AgnosticMixture/static/scss/global/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */ }
  /* line 36, /Users/trav/Sites/projects/AgnosticMixture/static/scss/global/_helpers.scss */
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* line 48, /Users/trav/Sites/projects/AgnosticMixture/static/scss/global/_helpers.scss */
.invisible {
  visibility: hidden; }

/* line 51, /Users/trav/Sites/projects/AgnosticMixture/static/scss/global/_helpers.scss */
.right {
  float: right; }

/* line 54, /Users/trav/Sites/projects/AgnosticMixture/static/scss/global/_helpers.scss */
.left {
  float: left; }

/* line 57, /Users/trav/Sites/projects/AgnosticMixture/static/scss/global/_helpers.scss */
.clear {
  clear: both; }

/* line 64, /Users/trav/Sites/projects/AgnosticMixture/static/scss/global/_helpers.scss */
nav ul {
  zoom: 1; }
  /* line 68, /Users/trav/Sites/projects/AgnosticMixture/static/scss/global/_helpers.scss */
  nav ul:before, nav ul:after {
    content: " ";
    display: table; }
  /* line 73, /Users/trav/Sites/projects/AgnosticMixture/static/scss/global/_helpers.scss */
  nav ul:after {
    clear: both; }

/* line 86, /Users/trav/Sites/projects/AgnosticMixture/static/scss/global/_helpers.scss */
.text--left {
  text-align: left; }

/* line 89, /Users/trav/Sites/projects/AgnosticMixture/static/scss/global/_helpers.scss */
.text--right {
  text-align: right; }

/* line 92, /Users/trav/Sites/projects/AgnosticMixture/static/scss/global/_helpers.scss */
.text--center {
  text-align: center; }

/* line 95, /Users/trav/Sites/projects/AgnosticMixture/static/scss/global/_helpers.scss */
.hide {
  display: none; }

/* line 17, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.primary * {
  font-family: serif; }

/* line 20, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.secondary * {
  font-family: sans-serif; }

/* line 26, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.color1 {
  background: #333333; }

/* line 27, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.color2 {
  background: red; }

/* line 45, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.logo {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  max-width: 200px; }

/* line 53, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
nav {
  clear: both; }
  /* line 59, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
  nav ul > li {
    display: inline-block; }
    /* line 62, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
    nav ul > li a {
      display: block;
      padding-right: 12px; }

/* line 72, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.type-sample p {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2.25rem;
  letter-spacing: 0.1em; }

/* line 79, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.scale {
  max-width: 30em; }
  /* line 82, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
  .scale td {
    padding: 0; }

/* line 86, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.key {
  font-weight: 700; }

/* line 92, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.colors {
  background: #fff; }

/* line 95, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.swatch {
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 12px;
  padding-right: 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin: 0.75rem 0.75rem 4.5rem 0.75rem;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  text-align: center; }
  /* line 105, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
  .swatch p {
    position: absolute;
    bottom: -75%;
    left: 0;
    width: 100%; }

/* line 117, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.iconset ul {
  list-style: none; }

/* line 132, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.grids .container hr {
  clear: both; }
/* line 135, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.grids .container div {
  margin-bottom: 24px;
  height: 240px;
  float: left;
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 12px;
  padding-right: 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 141, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
  .grids .container div span {
    display: block;
    width: 100%;
    height: 240px; }
/* line 148, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.grids span {
  background: #333333; }
/* line 151, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.grids h2 {
  clear: both; }

/* line 155, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.three {
  width: 33.33333%; }

/* line 158, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.five {
  width: 20%; }

/* line 161, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.six {
  width: 16.66667%; }

/* line 170, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.folding.four, .folding.five, .folding.six, .folding.seven, .folding.eight {
  display: none; }
/* line 173, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.folding.two {
  display: block !important;
  width: 50%; }
/* line 177, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.folding.three {
  display: block !important;
  width: 33.33333%; }

/* line 183, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
.combined-grid {
  position: relative;
  width: 100%;
  padding: 0; }
  /* line 188, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
  .combined-grid .grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    opacity: 0.3;
    padding: 0 !important; }

@media only screen and (min-width: 48em) {
  /* line 200, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
  .iconset {
    padding-left: 12px;
    padding-left: 0.75rem;
    padding-right: 12px;
    padding-right: 0.75rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left; }

  /* line 206, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
  .folding.four {
    display: block;
    width: 25%; }
  /* line 210, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
  .folding.five {
    display: block;
    width: 20%; }

  /* line 216, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
  .callouts .callout {
    padding-left: 12px;
    padding-left: 0.75rem;
    padding-right: 12px;
    padding-right: 0.75rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 50%; }
    /* line 221, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
    .callouts .callout:nth-child(odd) {
      clear: both; } }
@media only screen and (min-width: 98em) {
  /* line 229, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
  .iconset {
    width: 33.33333%; } }
@media only screen and (min-width: 110em) {
  /* line 237, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
  .folding.six {
    display: block;
    width: 16.66667%; }
  /* line 241, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
  .folding.seven {
    display: block;
    width: 14.28571%; }
  /* line 245, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
  .folding.eight {
    display: block;
    width: 12.5%; }

  /* line 251, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
  .callouts .callout {
    width: 25%; }
    /* line 254, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
    .callouts .callout:nth-child(odd) {
      clear: none; }
    /* line 257, /Users/trav/Sites/projects/AgnosticMixture/static/scss/ui-kit.scss */
    .callouts .callout:nth-child(4n+5) {
      clear: both; } }
