body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass Syntax error: File to import not found or unreadable: compass. \A               Load path: \\ \A         on line 3 of \\Users\\trav\\Dropbox\\Sites\\Mixtures\\Agnostic\\static\\scss\\pages\\wordpress.scss \A '; } 
                            
                            body * { 
                            display: none; 
                            } 