// CALLOUTS
//
// Good for visually sepearating related content. Let's make 'em flexible.
// Example:
//
//      <aside class="callout">
//          <div class="content">
//              <h2>Content Callout</h2>
//              <p>Callout content</p>
//          </div>
//      </aside>

// .callout acts as a fluid container with padding so side by side callouts can still have a gutter separating them
.callout {
    @extend %group;
    margin-bottom:rem($line);

    figure {
        margin:0;
    }

    // .content is where visual styles, like backgrounds and rounded corners should be applied

    .content {
        @extend %group;
        padding:rem($line);

        p {

        }

        // Remove margins from last element in the callout to help maintain consistent padding around the inside the box
        > *:last-child,
        > *:last-child > *:last-child,
        > *:last-child > *:last-child > *:last-child {
            margin-bottom: 0 !important;
        }
        > *:first-child,
        > *:first-child > *:first-child,
        > *:first-child > *:first-child > *:first-child {
            margin-top: 0 !important;
        }
    }

}

// Reverse the colours
.reverse {
    background:$dark-grey;
    color:$white;
}
