// CODE

// For pretty code blocks. Lot's of great hints taken from the fabulous Inuit Framework. http://inuitcss.com/

pre{
    overflow:auto;

    mark {
        background:none;
        border-bottom:1px solid;
        color:inherit;
    }
}


// Default code blocks. I'm extending the .reverse class  to apply a reversed color style. Do what you want.
.code-block {
    @extend .reverse;
    overflow:auto;
    padding:rem($line);
    margin-bottom: rem($line);
    color:$white;
    width:100%;
}

code {
    font-family: $mono;
    color:$white;
}

// Code comments
// EG) <code>&lt;/div&gt;<span class="code__comment">&lt;!-- Nice comment, dude. --&gt;</span></code>
.code__comment{
    color: $grey;
}

//  Numbered code blocks. Ugly code, but works well.
//
//   <ol class="line-numbers">
//           <li><code>.object {</code></li>
//           <li><code>    color: $white;</code></li>
//           <li><code>    margin: $line;</code></li>
//           <li><code>}</code></li>
//   </ol>


.line-numbers {
    font-family: $mono;
    list-style:decimal-leading-zero inside;
    white-space:nowrap;
    overflow:auto;
    margin-left:0;
    margin-bottom: 0;
}

// Forces whitespace so it acts like real code.
.line-numbers code{
    white-space:pre;
}
