// RANGE SLIDERS

// This slider field uses jQueryUI's slider module. Base styles can be found in the /static/scss/vendor/ folder
// http://jqueryui.com/slider/
//
// Simple slider example:
// <div id="slider" class="js-slider"></div>

.ui-slider {
    @include gutter;
    position: relative;
    height:rem($line/2);
    margin-top: rem($line);
    margin-bottom: rem($line*2);
    text-align: left;
    cursor: pointer;
    background:$dark-grey;

    .ui-slider-handle {
        position: absolute;
        top: rem($line*-.25);
        width: rem($line);
        height: rem($line);
        z-index: 2;
        cursor: pointer;
        outline: none;
        background:$red;
    }
}