//BUTTONS

// A collection of button styles for buttons elements, button inputs, and button links.
//
// Start with a .button class and add modifiers classes to er, modify them.
//
// EG) <a href="#" class="button button--large">Large Button text</a>


// Default button styles
button,
input[type="submit"],
.button,
a.button {
    position:relative;
    display:inline-block;
    padding:rem($line/4 $line/2);
    border:none;
    outline:none;
    text-align:center;
    text-decoration: none;
    cursor:pointer;
    background:$dark-grey;
    color:$white;

    &:link,
    &:visited {

    }

    &:hover {
        background:$red;
        color:$white;
    }

    &:active,
    &:focus {
        background:$red;
        color:$white;
    }
}

// Add color variations here
.button--red,
a.button--red {
    background:$red;

    &:link,
    &:visited {
        background:$red;
    }

    &:hover {
        background: $grey;
    }

    &:active,
    &:focus {

    }
}

// Disabled button styles
a.button--disabled,
a.button--disabled:hover,
a.button--disabled:active,
a.button--disabled:focus,
.button--disabled,
.button--disabled:hover,
.button--disabled:active,
.button--disabled:focus {
    cursor: default;
}

// Large buttons
a.button--large,
.button--large {

}

// Small buttons
a.button--small,
.button--small {

}

//Button groups
.button-group {
    @extend %group;

    // Organize button groups for mobile screens first (I like to stack 'em)
    .button,
    a.button,
    button {
        display:block;
        margin:0;
    }

    .button:first-child,
    a.button:first-child,
    button:first-child {

    }

    .button:last-child,
    a.button:last-child,
    button:last-child {

    }

    // Reorganize for wider canvases (like a fancy pill-style nav)
    @media only screen and (min-width: $screenSmall) {

        .button,
        a.button,
        button {
            float:left;
        }

        .button:first-child,
        a.button:first-child,
        button:first-child {

        }

        .button:last-child,
        a.button:last-child,
        button:last-child {

        }
    }

}


