button,
input[type="submit"],
a.button {
	position:relative;
	text-align:center;
	cursor:pointer;
  display:inline-block;
	outline:none;

	&:link,
	&:visited {

	}

	&:hover {

	}

	&:active,
	&:focus {

	}
}

a.button--color {

	&:link,
	&:visited {

	}

	&:hover {

	}

	&:active,
	&:focus {

	}
}

a.button--icon,
.button--icon {

	span {
		display: inline-block;
		vertical-align: middle;
	}
}



a.button--disabled,
a.button--disabled:hover,
a.button--disabled:active,
a.button--disabled:focus,
.button--disabled,
.button--disabled:hover,
.button--disabled:active,
.button--disabled:focus  {
	cursor: default;
}

a.button--large,
.button--large {

}

a.button--small,
.button--small {

}

.button-group {
	@extend .group;

	@media only screen and (max-width: $screenSmall) {
		.button,
		a.button,
		button {
			@include rem(padding, $line/1.5);
			@include border-radius(0);
			display:block;
		}

		.button:first-child,
		a.button:first-child,
		button:first-child {
			@include border-top-right-radius;
			@include border-top-left-radius;
		}

		.button:last-child,
		a.button:last-child,
		button:last-child {
			@include border-bottom-right-radius;
			@include border-bottom-left-radius;
		}
	}
}


@media only screen and (min-width: $screenSmall) {
	.button-group {
		.button,
		a.button,
		button {
			@include border-radius(0);
			margin:0;
			float:left;

			&:active {

			}

		}

		.button:first-child,
		a.button:first-child,
		button:first-child {
			@include border-bottom-left-radius;
			@include border-top-left-radius;
		}

		.button:last-child,
		a.button:last-child,
		button:last-child {
			@include border-bottom-right-radius;
			@include border-top-right-radius;
		}
	}
}