ul,
ol,
dl {
	margin:rem(0 0 $line $line/1.5);
	padding:0;

	ul,
	ol {
		margin-bottom: 0;
	}
}

dt {

}
dd {

}
nav {
  ul {
    list-style: none;
  }
}

.link-list {
	@extend .group;
	margin-left: 0;
	margin-right: 0;
	overflow: visible;

	li {
		position: relative;
	}
	a {
		display: block;

		&:link,
		&:visited {

		}
		&:hover,
		&:active,
		&:focus {

		}
	}
	.current {

		a {
			cursor: default;
		}
	}
}

.feature-list {
	@extend .group;
	@include box;
	clear:both;
	list-style: none;
	margin-bottom: 0;
	margin-left: 0;

	li {
		float:left;
	}

	span {
		display: block;
	}
}

.icon-list {
	list-style: none;
}

@media only screen and (min-width: $screenSmall) {
	.link-list--horizontal {
		li {
			float:left;

			a {
			}
		}
	}
}
@media only screen and (min-width: $screenMedium) {
	.link-list--horizontal {
		li {

		}
	}
}