

//Inline Quotes

q{
    quotes:"‘" "’" "#{$open-quote}" "#{$close-quote}";

    &:before{
        content:"‘";
        content:open-quote;
    }
    &:after{
        content:"’";
        content:close-quote;
    }

    q:before{
        content:"“";
        content:open-quote;
    }
    q:after{
        content:"”";
        content:close-quote;
    }
}

//Blockquotes
blockquote {
    @include box;
    quotes:"#{$open-quote}" "#{$close-quote}";
    text-indent: -0.5em;

    p {

    }

    p:before{
        content:"#{$open-quote}";
        content:open-quote;
    }
    p:after{
        content:"";
        content:no-close-quote;
    }
    p:last-of-type:after{
        content:"#{$close-quote}";
        content:close-quote;
    }

    q:before{
        content:"‘";
        content:open-quote;
    }
    q:after{
        content:"’";
        content:close-quote;
    }

}
cite {

}
.source {

    span {

    }
}