{% block content %}

<section class="callouts">
	<div class="container">
				<h1>Callouts</h1>
			<hr />
	</div>
	<div class="container">


		<aside class="callout">
			<div class="content">
				<h2>Content Callout</h2>
				<p>Callout content is a related aside that doesn't fit directly inside normal page content. It may also my use to highlight important sections. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
			</div>
		</aside>

		<aside class="callout">
			<figure>
				{{ "1200x800" | placeholder | image_tag }}
			</figure>
			<div class="content">
				<h2>Image Callout</h2>
				<p>Callout content is a related aside that doesn't fit directly inside normal page content. It may also my use to highlight important sections. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
			</div>
		</aside>

		<aside class="callout">
			<figure class="video">
				<iframe src="//player.vimeo.com/video/54269169" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</figure>
			<div class="content">
				<h2>Video Callout</h2>
				<p>Callout content is a related aside that doesn't fit directly inside normal page content. It may also my use to highlight important sections. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
			</div>
		</aside>

		<aside class="callout">
			<div class="content">
				<h2>Form Callout</h2>
				<p>Callout content is a related aside that doesn't fit directly inside normal page content.</p>
				<form action="">
					<div class="field">
						<input type="text" class="text-input" placeholder="Name" />
					</div>
					<div class="field">
						<input type="email" class="text-input" placeholder="Email" />
					</div>
					<div class="field">
						<button type="submit" class="button--light-blue button--small">Submit</button>
					</div>
				</form>
			</div>
		</aside>

	</div>
</section>
{% endblock %}