{% block content %}
<section class="code">
    <div class="container">
        <h1>Code</h1>
        <div class="code-block">
            <ol class="line-numbers">
                <li><code>.nav{</code></li>
                <li><code>    list-style:none;</code></li>
                <li><code>    margin-left:0;</code></li>
                <li><code>}</code></li>
                <li><code>    .nav > li,</code></li>
                <li><code>        .nav > li > a{</code></li>
                <li><code>            display:inline-block;</code></li>
                <li><code>           *display:inline-block;</code></li>
                <li><code>            zoom:1;</code></li>
                <li><code>        }</code></li>
            </ol>
      </div>

        <h3>Markup example:</h3>
        <div class="code-block">
            <ol class="line-numbers">
                <li><code>&lt;div class="code-block"&gt;</code></li>
                <li><code>  &lt;ol class="line-numbers"&gt;</code></li>
                <li><code>      &lt;li&gt;&lt;code&gt;&amp;lt;p&amp;gt;Code Example&amp;lt;/p&amp;gt;&lt;/code&gt;&lt;/li&gt;</code></li>
                <li><code>      &lt;li&gt;&lt;code&gt;&amp;lt;p&amp;gt;Another&amp;lt;/p&amp;gt;&lt;/code&gt;&lt;/li&gt;</code></li>
                <li><code>  &lt;/ol&gt;</code></li>
                <li><code>&lt;/div&gt;</code></li>
            </ol>
        </div>
    </div>
</section>
{% endblock %}