{% block content %}
<header class="row">
    <div class="container">
        <h1>Color</h1>
        <p class="lead">Add your colors here for easy reference.</p>
    </div>
</header>
<section class="row colors">
    <div class="container">
        <div class="swatch color1">
            <p>Dark grey<br />$text<br />#333333</p>
        </div>
        <div class="swatch color2">
            <p>Grey<br />$mid-text<br />#999999</p>
        </div>
        <div class="swatch color3">
            <p>Red<br />$accent<br />#FF0000</p>
        </div>
    </div>
</section>
{% endblock %}