{% block content %}
<section class="forms">
    <div class="container">

        <h1>Forms</h1>

        <hr />

        <form action="" method="post">
            <fieldset>
                <legend><h2>Text Inputs</h2></legend>

                <div class="field">
                    <label for="text">Text input</label>
                    <input type="text" name="text" value="" placeholder="Text" class="text-input"  />
                </div>
                <div class="field">
                    <label for="email">Email input</label>
                    <input type="email" name="email" value="" placeholder="name@example.com" class="text-input"  />
                </div>
                <div class="field">
                    <label for="url">URL input</label>
                    <input type="url" name="url" value="" placeholder="http://example.com" class="text-input"  />
                </div>
                <div class="field">
                    <label for="tel">Telephone input</label>
                    <input type="tel" name="tel" value="" placeholder="555-555-5555" class="text-input"  />
                </div>
                <div class="field">
                    <label for="search">Search input</label>
                    <input type="search" name="search" value="" placeholder="Search" class="search-input"  />
                </div>
                <div class="field">
                    <label for="number">Number input</label>
                    <input type="number" name="number" value="" placeholder=""  />
                </div>
                <div class="field">
                    <label for="datetime">Datetime input</label>
                    <input type="datetime" name="datetime" value="" placeholder="" />
                </div>
                <div class="field">
                    <label for="datetime-local">Datetime-local input</label>
                    <input type="datetime-local" name="datetime-local" value="" placeholder="" />
                </div>
                <div class="field">
                    <label for="month">Month input</label>
                    <input type="month" name="month" value="" placeholder="" />
                </div>
                <div class="field">
                    <label for="week">Week input</label>
                    <input type="week" name="week" value="" placeholder="" />
                </div>
                <div class="field">
                    <label for="time">Time input</label>
                    <input type="time" name="time" value="" placeholder="" />
                </div>
                <div class="field">
                    <label for="range">Range input</label>
                    <input type="range" name="range" value="" placeholder="" />
                </div>
                <div class="field">
                    <label for="color">Color input</label>
                    <input type="color" name="color" value="" placeholder="" />
                </div>

                <div class="field">
                    <label for="textarea">Textarea</label>
                    <textarea name="textarea"></textarea>
                </div>

                <div class="field">
                    <label for="error">Invalid input</label>
                    <input type="text" name="error" value="Bad input" placeholder="" class="error text-input"  />
                    <label class="error label--error">Error message for invalid field.</label>
                </div>

            </fieldset>
            <fieldset>
                <legend><h2>Checks &amp; Radios</h2></legend>
                <div class="field">
                    <legend>Checkboxes</legend>
                    <ul class="check-list">
                        <li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
                        <li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
                        <li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
                        <li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
                        <li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
                        <li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
                        <li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
                    </ul>
                </div>
                <div class="field">
                    <legend>Radios</legend>
                    <ul class="check-list">
                        <li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
                        <li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
                        <li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
                        <li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
                        <li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
                        <li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
                        <li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
                    </ul>
                </div>
            </fieldset>
            <fieldset>
                <legend><h2>Selects</h2></legend>
                <div class="field">
                    <label for="select">Select Dropdown</label>
                    <select name="select" class="ss-navigatedown">
                        <option value="selection">Select option</option>
                        <option value="selection">Select option</option>
                        <option value="selection">Select option</option>
                        <option value="selection">Select option</option>
                        <option value="selection">Select option</option>
                    </select>
                </div>
                <div class="field">
                    <label for="multi-select">Multi-select</label>
                    <select name="multi-select" multiple>
                        <option value="selection">Select option</option>
                        <option value="selection">Select option</option>
                        <option value="selection">Select option</option>
                        <option value="selection">Select option</option>
                        <option value="selection">Select option</option>
                    </select>
                </div>
            </fieldset>
            <fieldset>
                <legend><h2>File uploads</h2></legend>
                <div class="field">
                    <label for="file">File upload</label>
                    <input type="file" name="file" value="" />
                </div>
            </fieldset>
            <fieldset>
                <legend><h2>Special fields</h2></legend>

                <hr />

                <div class="field check-buttons js-pill">
                    <legend><h3>Checkbox pill buttons</h3></legend>
                    <label for="cb1"><input type="checkbox" name="check-button" value="1" id="cb1" />Item 1</label>
                    <label for="cb2"><input type="checkbox" name="check-button" value="2" id="cb2" />Item 2</label>
                    <label for="cb3"><input type="checkbox" name="check-button" value="3" id="cb3" />Item 3</label>
                </div>

                <h4>Markup example:</h4>
                <div class="code-block">
                    <ol class="line-numbers">
                        <li><code>&lt;div class="field check-buttons js-pill"&gt;</code></li>
                        <li><code>  &lt;label for="cb1"&gt;&lt;input type="checkbox" name="check-button" value="1" id="cb1" /&gt;Item 1&lt;/label&gt;</code></li>
                        <li><code>  &lt;label for="cb2"&gt;&lt;input type="checkbox" name="check-button" value="2" id="cb2" /&gt;Item 2&lt;/label&gt;</code></li>
                        <li><code>  &lt;label for="cb3"&gt;&lt;input type="checkbox" name="check-button" value="3" id="cb3" /&gt;Item 3&lt;/label&gt;</code></li>
                        <li><code>&lt;/div&gt;</code></li>
                    </ol>
              </div>

                <hr />

                <div class="field radio-buttons js-pill">
                    <legend><h3>Radio pill buttons</h3></legend>
                    <label for="rb1"><input type="radio" name="radio-button" value="1" id="rb1" />Item 1</label>
                    <label for="rb2"><input type="radio" name="radio-button" value="2" id="rb2" />Item 2</label>
                    <label for="rb3"><input type="radio" name="radio-button" value="3" id="rb3" />Item 3</label>
                </div>

                <h4>Markup example:</h4>
                <div class="code-block">
                    <ol class="line-numbers">
                        <li><code>&lt;div class="field radio-buttons js-pill"&gt;</code></li>
                        <li><code>  &lt;label for="rb1"&gt;&lt;input type="radio" name="radio-button" value="1" id="rb1" /&gt;Item 1&lt;/label&gt;</code></li>
                        <li><code>  &lt;label for="rb2"&gt;&lt;input type="radio" name="radio-button" value="2" id="rb2" /&gt;Item 2&lt;/label&gt;</code></li>
                        <li><code>  &lt;label for="rb3"&gt;&lt;input type="radio" name="radio-button" value="3" id="rb3" /&gt;Item 3&lt;/label&gt;</code></li>
                        <li><code>&lt;/div&gt;</code></li>
                    </ol>
              </div>

                <hr />


                <label for=""><h3>Switch</h3></label>
                <div class="field switch">
                    <input id="x" name="switch-x" type="radio" checked>
                    <label for="x" onclick="">Off</label>
                    <input id="y" name="switch-x" type="radio">
                    <label for="y" onclick="">On</label>
                    <span></span>
                </div>
                <h4>Markup example:</h4>
                <div class="code-block">
                    <ol class="line-numbers">
                        <li><code>&lt;div class="field switch"&gt;</code></li>
                        <li><code>  &lt;input id="x" name="switch-x" type="radio" checked &gt;</code></li>
                        <li><code>  &lt;label for="x"&gt;Off&lt;/label&gt;</code></li>
                        <li><code>  &lt;input id="y" name="switch-x" type="radio" &gt;</code></li>
                        <li><code>  &lt;label for="y"&gt;On&lt;/label&gt;</code></li>
                        <li><code>&lt;/div&gt;</code></li>
                    </ol>
              </div>

              <hr />

                <div class="field range-slider">
                    <label for="range">Slider<small>*(Requires jQuery UI)</small></label>
                    <div id="slider" class="js-slider"></div>
                </div>

                <div class="code-block">
                    <ol class="line-numbers">
                        <li><code>&lt;div class="field range-slider"&gt;</code></li>
                        <li><code>  &lt;p&gt;&lt;input type="text" id="range" class="range-slider__input" /&gt;&lt;/p&gt;</code></li>
                        <li><code>  &lt;div id="slider-range"&gt;&lt;/div&gt;</code></li>
                        <li><code>&lt;/div&gt;</code></li>
                    </ol>
              </div>

            </fieldset>
            <fieldset>
                <legend><h2>Buttons</h2></legend>
                <div class="field">
                    <button type="submit">Button input</button>
                </div>
                <div class="field">
                    <input type="submit" value="Submit input" />
                </div>
                <div class="field">
                    <a href="" class="button">Button link</a>
                </div>
                <div class="field">
                    <a href="" class="button button--dark">Dark button</a>
                </div>
                <div class="field">
                    <a href="" class="button button--light-blue">Light blue button</a>
                </div>
                <div class="field">
                    <a href="" class="button button--disabled">Disabled button</a>
                </div>
                <div class="field">
                    <a href="" class="button button--icon"><span class="ss-atom"></span> Icon button</a>
                </div>
                <div class="field">
                    <a href="" class="button button--small">Small button link</a>
                </div>
                <div class="field">
                    <a href="" class="button button--large">Large button link</a>
                </div>
                <div class="field button-group">
                    <a href="" class="button">Button group</a>
                    <a href="" class="button">Button group</a>
                    <a href="" class="button">Button group</a>
                </div>
            </fieldset>
        </form>
    </div>
</section>
{% endblock %}