{% block content %}
<section class="forms">
	<div class="container">

		<h1>Forms</h1>
		<hr />
		<form action="" method="post">
			<fieldset>
				<legend><h2>Text Inputs</h2></legend>

				<div class="field">
					<label for="text">Text input</label>
					<input type="text" name="text" value="" placeholder="Text" class="text-input"  />
				</div>
				<div class="field">
					<label for="email">Email input</label>
					<input type="email" name="email" value="" placeholder="name@example.com" class="text-input"  />
				</div>
				<div class="field">
					<label for="url">URL input</label>
					<input type="url" name="url" value="" placeholder="http://example.com" class="text-input"  />
				</div>
				<div class="field">
					<label for="tel">Telephone input</label>
					<input type="tel" name="tel" value="" placeholder="555-555-5555" class="text-input"  />
				</div>
				<div class="field">
					<label for="search">Search input</label>
					<input type="search" name="search" value="" placeholder="Search" class="search-input"  />
				</div>
				<div class="field">
					<label for="number">Number input</label>
					<input type="number" name="number" value="" placeholder=""  />
				</div>
				<div class="field">
					<label for="datetime">Datetime input</label>
					<input type="datetime" name="datetime" value="" placeholder="" />
				</div>
				<div class="field">
					<label for="datetime-local">Datetime-local input</label>
					<input type="datetime-local" name="datetime-local" value="" placeholder="" />
				</div>
				<div class="field">
					<label for="month">Month input</label>
					<input type="month" name="month" value="" placeholder="" />
				</div>
				<div class="field">
					<label for="week">Week input</label>
					<input type="week" name="week" value="" placeholder="" />
				</div>
				<div class="field">
					<label for="time">Time input</label>
					<input type="time" name="time" value="" placeholder="" />
				</div>
				<div class="field">
					<label for="range">Range input</label>
					<input type="range" name="range" value="" placeholder="" />
				</div>
				<div class="field price-slider">
					<label for="range">Range input (Jquery UI)</label>
					<p><input type="text" id="amount" class="price-slider__input" /></p>
					<div id="slider-range"></div>
				</div>
				<div class="field">
					<label for="color">Color input</label>
					<input type="color" name="color" value="" placeholder="" />
				</div>
				<div class="field check-buttons">
					<legend>Check Buttons</legend>
					<label for=""><input type="checkbox" name="application" value="" /><span class="ss-globe"></span> Fixed</label>
					<label for=""><input type="checkbox" name="application" value="" /><span class="ss-boat"></span> Marine</label>
					<label for=""><input type="checkbox" name="application" value="" /><span class="ss-cell"></span> Portable</label>
					<label for=""><input type="checkbox" name="application" value="" /><span class="ss-car"></span> Vehicular</label>
				</div>
				<div class="field">
					<label for="">Switch</label>
					<div class="switch">
						<input id="x" name="switch-x" type="radio" checked>
				  		<label for="x" onclick="">Off</label>
				  		<input id="x1" name="switch-x" type="radio">
				  		<label for="x1" onclick="">On</label>
				  		<span></span>
					</div>
				</div>

				<div class="field">
					<label for="textarea">Textarea</label>
					<textarea name="textarea"></textarea>
				</div>

				<div class="field">
					<label for="error">Invalid input</label>
					<input type="text" name="error" value="Bad input" placeholder="" class="error text-input"  />
					<label class="error label--error">Error message for invalid field.</label>
				</div>

			</fieldset>
			<fieldset>
				<legend><h2>Checks &amp; Radios</h2></legend>
				<div class="field">
					<legend>Checkboxes</legend>
					<ul class="check-list">
						<li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
						<li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
						<li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
						<li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
						<li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
						<li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
						<li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
					</ul>
				</div>
				<div class="field">
					<legend>Radios</legend>
					<ul class="check-list">
						<li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
						<li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
						<li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
						<li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
						<li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
						<li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
						<li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
					</ul>
				</div>
			</fieldset>
			<fieldset>
				<legend><h2>Selects</h2></legend>
				<div class="field">
					<label for="select">Select Dropdown</label>
					<select name="select" class="ss-navigatedown">
						<option value="selection">Select option</option>
						<option value="selection">Select option</option>
						<option value="selection">Select option</option>
						<option value="selection">Select option</option>
						<option value="selection">Select option</option>
					</select>
				</div>
				<div class="field">
					<label for="multi-select">Multi-select</label>
					<select name="multi-select" multiple>
						<option value="selection">Select option</option>
						<option value="selection">Select option</option>
						<option value="selection">Select option</option>
						<option value="selection">Select option</option>
						<option value="selection">Select option</option>
					</select>
				</div>
			</fieldset>
			<fieldset>
				<legend><h2>File uploads</h2></legend>
				<div class="field">
					<label for="file">File upload</label>
					<input type="file" name="file" value="" />
				</div>
			</fieldset>
			<fieldset>
				<legend><h2>Buttons</h2></legend>
				<div class="field">
					<button type="submit">Button input</button>
				</div>
				<div class="field">
					<input type="submit" value="Submit input" />
				</div>
				<div class="field">
					<a href="" class="button">Button link</a>
				</div>
				<div class="field">
					<a href="" class="button button--dark">Dark button</a>
				</div>
				<div class="field">
					<a href="" class="button button--light-blue">Light blue button</a>
				</div>
				<div class="field">
					<a href="" class="button button--disabled">Disabled button</a>
				</div>
				<div class="field">
					<a href="" class="button button--icon"><span class="ss-atom"></span> Icon button</a>
				</div>
				<div class="field">
					<a href="" class="button button--small">Small button link</a>
				</div>
				<div class="field">
					<a href="" class="button button--large">Large button link</a>
				</div>
				<div class="field button-group">
					<a href="" class="button">Button group</a>
					<a href="" class="button">Button group</a>
					<a href="" class="button">Button group</a>
				</div>
			</fieldset>
		</form>
	</div>
</section>
{% endblock %}