{% block content %}
<section>
	<div class="container">
		<h1>Grid</h1>
		<hr>
		<p class="lead">We&rsquo;re using a complex folding compound grid for maximum flexibility in our responsive layouts. This is a fluid grid with flexible columns and fixed-width gutters to maintain proportional spacing and alignment for all screen dimensions.</p>

		<p>Our grid system is not attached to classes like other pre-packaged CSS grid systems. Instead, they are set in SCSS using our simple grid varables. This keeps our markup clean and our layout much easier to modify at various breakpoints.</p>
		<p><em>E.G. To specify a width of four columns of a six column grid ($c6 == 1 column of a 6-column grid), use the following:</em></p>
		<div class="code-block">
			<ol class="line-numbers">
				<li><code>.object{</code></li>
				<li><code>	@include wrap;</code> /* Use the wrap mixin to set box-sizing & gutters. You can also use the box OR gutter mixins to apply them independently. */</li>
				<li><code>    width:$c6*4; </code> /* $c6 = 1 column of a 6-column grid. Mulitply by 4 to specify 4 columns wide. */</li>
				<li><code>}</code></li>
			</ol>
	  </div>
	</div>
</section>
<section class="grids">
	<div class="container">
                <h2>Tertiary Three/Six responsive folding grid</h2>
                <div class="folding six three"><span></span></div>
                <div class="folding six"><span></span></div>
                <div class="folding six three"><span></span></div>
                <div class="folding six"><span></span></div>
                <div class="folding six three"><span></span></div>
                <div class="folding six"><span></span></div>

                <h2>Primary Two/Four/Eight responsive folding grid</h2>
                <div class="folding eight four two"><span></span></div>
                <div class="folding eight"><span></span></div>
                <div class="folding eight four"><span></span></div>
                <div class="folding eight"><span></span></div>
                <div class="folding eight four"><span></span></div>
                <div class="folding eight"><span></span></div>
                <div class="folding eight four two"><span></span></div>
                <div class="folding eight"><span></span></div>

                <h2>Secondary Three/Five/Seven responsive folding grid</h2>
		   <div class="folding seven five three"><span></span></div>
                <div class="folding seven five"><span></span></div>
                <div class="folding seven"><span></span></div>
                <div class="folding seven five three"><span></span></div>
                <div class="folding seven"><span></span></div>
                <div class="folding seven five"><span></span></div>
                <div class="folding seven five three"><span></span></div>





                <h2>Combined Grids</h2>

                <div class="combined-grid">
                	<div class="grid-1 grid">
		                <div class="folding eight four two"><span></span></div>
		                <div class="folding eight"><span></span></div>
		                <div class="folding eight four"><span></span></div>
		                <div class="folding eight"><span></span></div>
		                <div class="folding eight four"><span></span></div>
		                <div class="folding eight"><span></span></div>
		                <div class="folding eight four two"><span></span></div>
		                <div class="folding eight"><span></span></div>
                	</div>
                	<div class="grid-2 grid">
                		<div class="folding seven five three"><span></span></div>
										<div class="folding seven five"><span></span></div>
										<div class="folding seven"><span></span></div>
										<div class="folding seven five three"><span></span></div>
										<div class="folding seven"><span></span></div>
										<div class="folding seven five"><span></span></div>
										<div class="folding seven five three"><span></span></div>
                	</div>
                	<div class="grid-3 grid">
		                <div class="folding six three"><span></span></div>
		                <div class="folding six"><span></span></div>
		                <div class="folding six three"><span></span></div>
		                <div class="folding six"><span></span></div>
		                <div class="folding six three"><span></span></div>
		                <div class="folding six"><span></span></div>
                	</div>
                </div>
		</div>
	</div>
</section>
{% endblock %}