{% block content %}
<section class="hidden-content">
	<div class="container">
		<h1>Hidden Content</h1>
		<hr />
		<h2>Page-wide drawer</h2>
		<p><a href="#drawer" class="button js-reveal">Open drawer</a></p>
	</div>
</section>
<section class="drawer" id="drawer">
	<div class="container">
		<div class="content">
			<h2>Hidden drawer</h2>
			<p>A page wide drawer for hidden content, like the sign-in form below:</p>
		</div>
		<form action="" class="sign-in-form form--mini" id="sign-in-form">
			<fieldset>
				<h2>Sign in</h2>
				<div class="field">
					<label for="username">Username</label>
					<input type="text" name="username" class="text-input" id="username" required>
				</div>
				<div class="field">
					<label for="password">Password <a href="" class="js-show-pw small right">Show password</a></label>
					<input type="password" name="password" class="text-input" id="password" required>

					<p><a href="">Forgot password</a></p>
				</div>
				<div class="field">
					<label for="remember" class="check-label"><input type="checkbox" name="remember" value="yes" checked="checked" /> Rembemer me</label>
				</div>
				<div class="field">
					<button type="submit" class="button--light-blue button--small">Sign in</button>
				</div>
			</fieldset>
		</form>
	</div>
</section>
<section class="callouts">
	<div class="container">
		<h2>Callout drawers</h2>
	</div>
	<div class="container">
		<aside class="callout callout--reverse">
			<div class="content">
				<h2>Callout Drawer</h2>
				<p>Callout content is a related aside that doesn't fit directly inside normal page content.</p>
				<p><a href="#callout-drawer-1" class="js-reveal button">Open drawer</a></p>

				<form action="" id="callout-drawer-1" class="drawer">
					<div class="field">
						<input type="text" class="text-input" placeholder="Name" />
					</div>
					<div class="field">
						<input type="email" class="text-input" placeholder="Email" />
					</div>
					<div class="field">
						<button type="submit" class="button--light-blue button--small">Submit</button>
					</div>
				</form>
			</div>
		</aside>

	</div>
</section>

{% endblock %}