{% block title %}Icons{% endblock %}


{% block content %}
<section class="icons">
	<div class="container">
		<h1>Icons</h1>
    <hr />
		<p class="lead">These are icon fonts. They are nice and easy to use and render well across several browsers and sizes.</p>

	</div>
</section>
{% endblock %}