{% block content %}
<header class="row">
    <div class="container">
        <h1>Icons</h1>
        <p class="lead">These are icon fonts. They are nice and easy to use and render well across several browsers and sizes.</p>
    </div>
</header>
{% endblock %}