{% block content %}
<div class="main" id="main">
    <section class="primary-content">
        <div class="container">
            <h1>Agnostic naked UI library</h1>
            <p class="lead">Here you&rsquo;ll find the building block components of your site: everything from our typefaces, to content formatting, form elements, colour palettes, and iconography.</p>

            <p>Use this library as a blueprint and a reference for building additional design templates or scaling the design.</p>
        </div>
    </section>
</div>
{% endblock %}