{% block content %}
<section class="loops">
    <div class="container">
        <h1>Loops</h1>
        <hr />
        <section class="primary-content">
            <p>Repeatable listings like blog posts, products, and events.</p>
            <section class="loop">
                <article>

                </article>
            </section>
        </section>
    </div>
</section>
{% endblock %}