{% block content %}
<section class="media">
    <div class="container">
        <h1>Media</h1>
        <hr />
        <h2>Responsive image</h2>
        <figure>
            {{ "2500x1666" | placeholder | image_tag }}
            <figcaption><p>Explanatory caption to compliment image. <small class="source">Photographer: First Last</small></p></figcaption>
        </figure>

        <h2>Responsive embedded video</h2>
        <figure class="video">
            <iframe src="//player.vimeo.com/video/13752801"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </figure>

    </div>
</section>
{% endblock %}