{% block content %}
<section class="media">
	<div class="container">
		<h1>Media</h1>
		<hr />
		<h2>Responsive image</h2>
		<figure>
			{{ "2500x1666" | placeholder | image_tag }}
			<figcaption><p>Explanatory caption to compliment image. <small class="source">Photographer: First Last</small></p></figcaption>
		</figure>

		<h2>Responsive image gallery</h2>

		<section class="gallery" id="gallery">
			<figure class="gallery__wrap">
				{{ "2500x1666" | placeholder | image_tag }}
				{{ "2500x1666" | placeholder | image_tag }}
			</figure>
			<nav class="nav--gallery">
				<div class="gallery__previous" onclick='mySwipe.prev()'><span class="livicon" data-name="angle-wide-right" data-size="30" ></span> Previous</div>
				<div class="gallery__next" onclick='mySwipe.next()'>Next <span class="livicon" data-name="angle-wide-right" data-size="30" ></span></div>
			</nav>
		</section>

		<h2>Responsive embedded video</h2>
		<figure class="video">
			<iframe src="//player.vimeo.com/video/54269169" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</figure>

	</div>
</section>
{% endblock %}