{% block content %}
<header class="row">
    <div class="container">
        <h1>Layout modules</h1>
        <p class="lead">The building blocks of our templates.</p>
    </div>
</header>
{% endblock %}