{% block content %}
<section class="loops">
    <div class="container">
        <h1>Layout modules</h1>
        <hr />
        <section class="primary-content">
            <p>The building blocks of our layouts</p>
            <section class="loop">
                <article>

                </article>
            </section>
        </section>
    </div>
</section>
{% endblock %}