{% block content %}

<section class="navigation">
    <div class="container">
        <h1>Navigation</h1>
        <hr>

        <h2>Breadcrumbs</h2>
    </div>
    {% include "modules/breadcrumbs" %}

    <div class="container">

        <h2>Pagination</h2>

        <h3>Standard</h3>
        {% include "modules/pagination" %}

        <h3>Mini</h3>
        {% include "modules/pagination--mini" %}
    </div>

    <div class="container">

        <h2>More links</h2>
        <hr>
        <p class="more"><a href="">Read more &gt;</a></p>
    </div>


</section>

{% endblock %}