{% block content %}
<section class="tables">
	<div class="container">
		<h1>Tables</h1>
		<hr />

		<h2>Invisible</h2>
	  <table id="demo1">
	      <thead>
	          <tr>
	              <th>Lorem</th>
	              <th>Ipsum</th>
	              <th class="numerical">Dolor</th>
	              <th>Sit</th>
	          </tr>
	      </thead>
	      <tbody>
	          <tr>
	              <th>Sit</th>
	              <td>Dolor</td>
	              <td class="numerical">03.788</td>
	              <td>Lorem</td>
	          </tr>
	          <tr>
	          		<th>Sit</th>
	              <td>Dolor</td>
	              <td class="numerical">32.210</td>
	              <td>Lorem</td>
	          </tr>
	          <tr>
	          		<th>Sit</th>
	              <td>Dolor</td>
	              <td class="numerical">47.797</td>
	              <td>Lorem</td>
	          </tr>
	          <tr>
	              <th>Sit</th>
	              <td>Dolor</td>
	              <td class="numerical">09.640</td>
	              <td>Lorem</td>
	          </tr>
	          <tr>
	           		<th>Sit</th>
	              <td>Dolor</td>
	              <td class="numerical">12.117</td>
	              <td>Lorem</td>
	          </tr>
	      </tbody>
	  </table>

		<h2>Bordered</h2>
	  <table class="table--bordered" id="demo2">
	      <thead>
	          <tr>
	              <th>Lorem</th>
	              <th>Ipsum</th>
	              <th class="numerical">Dolor</th>
	              <th>Sit</th>
	          </tr>
	      </thead>
	      <tbody>
	          <tr>
	              <th>Sit</th>
	              <td>Dolor</td>
	              <td class="numerical">03.788</td>
	              <td>Lorem</td>
	          </tr>
	          <tr>
	          		<th>Sit</th>
	              <td>Dolor</td>
	              <td class="numerical">32.210</td>
	              <td>Lorem</td>
	          </tr>
	          <tr>
	          		<th>Sit</th>
	              <td>Dolor</td>
	              <td class="numerical">47.797</td>
	              <td>Lorem</td>
	          </tr>
	          <tr>
	              <th>Sit</th>
	              <td>Dolor</td>
	              <td class="numerical">09.640</td>
	              <td>Lorem</td>
	          </tr>
	          <tr>
	           		<th>Sit</th>
	              <td>Dolor</td>
	              <td class="numerical">12.117</td>
	              <td>Lorem</td>
	          </tr>
	      </tbody>
	  </table>
		<h2>Striped</h2>
	  <table class="table--striped" id="demo3">
	      <thead>
	          <tr>
	              <th>Lorem</th>
	              <th>Ipsum</th>
	              <th class="numerical">Dolor</th>
	              <th>Sit</th>
	          </tr>
	      </thead>
	      <tbody>
	          <tr>
	              <th>Sit</th>
	              <td>Dolor</td>
	              <td class="numerical">03.788</td>
	              <td>Lorem</td>
	          </tr>
	          <tr>
	          		<th>Sit</th>
	              <td>Dolor</td>
	              <td class="numerical">32.210</td>
	              <td>Lorem</td>
	          </tr>
	          <tr>
	          		<th>Sit</th>
	              <td>Dolor</td>
	              <td class="numerical">47.797</td>
	              <td>Lorem</td>
	          </tr>
	          <tr>
	              <th>Sit</th>
	              <td>Dolor</td>
	              <td class="numerical">09.640</td>
	              <td>Lorem</td>
	          </tr>
	          <tr>
	           		<th>Sit</th>
	              <td>Dolor</td>
	              <td class="numerical">12.117</td>
	              <td>Lorem</td>
	          </tr>
	      </tbody>
	  </table>
	</div>
</section>
{% endblock %}