{% block content %}
<header class="row">
    <div class="container">
        <h1>Templates</h1>
        <p class="lead">Some example templates</p>
    </div>
</header>
<section class="row">
    <div class="container">
        <section class="primary-content">
            <ul>
                <li><a href="/templates/home/">Home</a></li>
            </ul>
        </section>
    </div>
</section>

{% endblock %}