// Variables, Mixins, and resets
@import "settings/variables";
@import "settings/functions";
@import "settings/mixins";
@import "settings/normalize";
@import "settings/helpers";

// Vendor styles
@import "vendor/jquery-ui";

// Global styles
@import "global/animation";
@import "global/headings";
@import "global/paragraphs";
@import "global/time-stamps";
@import "global/smallprint";
@import "global/links";
@import "global/lists";
@import "global/keylines";
@import "global/icons";
@import "global/buttons";
@import "global/forms";
@import "global/tables";

// UI Components
@import "components/quotes";
@import "components/code";
@import "components/images";
@import "components/maps";
@import "components/videos";
@import "components/callouts";
@import "components/drawers";
@import "components/breadcrumbs";
@import "components/pagination";
@import "components/switches";
@import "components/option-buttons";
@import "components/sliders";
@import "components/gallery";
@import "components/vcards";

// UI Modules
@import "modules/header";
@import "modules/footer";
@import "modules/layout";