// UI KIT STYLES

// The is the style of the UI Kit/Style Guide/Brand guide/etc itself.

// Bring in Sass tools for easier styling.
@import "settings/variables";
@import "settings/functions";
@import "settings/mixins";
@import "settings/helpers";

// UI Library Settings
//
// You'll definitely want to customize this section
//
// Fonts
// Add more here and in the Typography liquid template if you need.
.primary * {
    font-family: $serif;
}
.secondary * {
    font-family: $sans;
}

// Colors
// Add more here and in the Color liquid template if you need.
.color1 { background:$dark-grey; }
.color2 { background: $red; }

//
// End customizations
//

// UI Kit Styles
//
// Change this if you want to customize the look, feel, or stucture of the UI Library
//

//Overall layout
section {

}
.header {

}
.logo {
    @include rem(margin-bottom, $line);
    max-width: 200px;
}
.tagline {

}

nav {
    clear:both;

    ul {
        @extend %group;

        > li {
           display: inline-block;

            a {
                display:block;
                padding-right:$line/2;
            }
        }
    }
}

// Type Section
.type-sample {
    p {
        @include font-size(24, 36);
        margin-bottom: rem($line*1.5);
        letter-spacing: 0.1em;
    }
}
// Modular scale
.scale {
    max-width: 30em;

    td {
        padding:0;
    }
}
.key {
    font-weight: $bold;
}


//Colour swatches
.colors {
    background:#fff;
}
.swatch {
    @include wrap;
    position: relative;
    display: inline-block;
    margin:rem($line/2 $line/2 $line*3 $line/2);
    width: 120px;
    height: 120px;
    border-radius: 100%;
    text-align: center;

    p {
        position: absolute;
        bottom:-75%;
        left:0;
        width:100%;
    }
}



// Icon listing
.iconset {
    ul {
        list-style: none;
    }
}







// Grid section

.grids {
    .container {
        hr {
            clear:both;
        }
        div {
            margin-bottom: $line;
            height: $line*10;
            float:left;
            @include wrap;

            span {
                display: block;
                width:100%;
                height: $line*10;
            }
        }
    }
    span {
        background:$dark-grey;
    }
    h2 {
        clear:both;
    }
}
.three {
    width:$c3;
}
.five {
    width:$c5;
}
.six {
    width:$c6;
}

.folding {
    &.four,
    &.five,
    &.six,
    &.seven,
    &.eight {
        display:none;
    }
    &.two {
        display: block !important;
        width:$c4*2;
    }
    &.three {
        display: block !important;
        width:$c3;
    }
}

.combined-grid {
    position:relative;
    width:100%;
    padding:0;

    .grid {
        position: absolute;
        top:0;
        left:0;
        right:0;
        height:200px;
        opacity:0.3;
        padding:0 !important;
    }
}

@media only screen and (min-width: $screenSmall) {
    .iconset {
        @include wrap;
        width:$c8*4;
        float:left;
    }
    .folding {
        &.four{
            display: block;
            width:$c4;
        }
        &.five {
            display:block;
            width:$c5;
        }
    }
    .callouts {
        .callout {
            @include wrap;
            float:left;
            width:$c4*2;

            &:nth-child(odd) {
                clear:both;
            }
        }
    }
}

@media only screen and (min-width: $screenLarge) {
    .iconset {
        width:$c6*2;
    }
}

@media only screen and (min-width: $screenXlarge) {

    .folding {
        &.six {
            display: block;
            width:$c6;
        }
        &.seven {
            display:block;
            width:$c7;
        }
        &.eight {
            display:block;
            width:$c8;
        }
    }
    .callouts {
        .callout {
            width:$c4;

            &:nth-child(odd) {
                clear:none;
            }
            &:nth-child(4n+5) {
                clear:both;
            }
        }
    }
}