//Switch

.switch {
	@extend .group;
	@include transition(all 0.2s linear);
	position: relative;
	padding: 0;
	display: inline-block;
	overflow: hidden;
	height:rem($line*1.5);
	line-height: 2.66;
	background:$dark-grey;
	margin-bottom: rem($line/4);

	label {
		@include transition(opacity 0.3s linear);
		position: relative;
		color:$white;
		float:left;
		z-index: 2;
		height: 100%;
		left:0;
		margin:0;
		text-align: left;

		&:first-of-type {
			padding:rem(0 $line/1.5 0 $line/1.5);
		}
		&:last-of-type {
			padding:rem(0 $line/1.5 0 0);
		}
	}

	input {
		position: absolute;
		z-index: 3;
		opacity: 0;
		width: 100%;
		height:100%;
		-moz-appearance: none;
		cursor: pointer;

		&:first-of-type:checked ~ span:last-child {
      left: 100%;
      margin-left: rem($line*-1.5 + 1px);
    }
	}

  span:last-child {
  	@include transition(all 0.2s linear);
  	@include border-radius;
  	@include box-shadow(2px 0 10px 0 rgba(0,0,0,0.07),1000px 0 0 980px black, -2px 0 10px 0 rgba(0,0,0,0.07), -1000px 0 0 1000px $red);
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    display: block;
    padding: 0;
    border-width: rem(1px);
    border-style: solid;
    //border-color: $dark-grey;
    cursor: pointer;
    width: rem($line*1.5);
    height: rem($line*1.5);
  }

	input:not(:checked) + label { opacity: 0; }

  input:checked { display: none !important; }
  input { left: 0; display: block !important; }

  // Left Label alignment and position changes, including fixes for while inside a custom form
  input:first-of-type + label,
  input:first-of-type + span + label { left: -50%; }
  input:first-of-type:checked + label,
  input:first-of-type:checked + span + label { left: 0%; }

  // Right Label alignment and position changes, including fixes for while inside a custom form
  input:last-of-type + label,
  input:last-of-type + span + label {right: -50%; left: auto; text-align: right; }
  input:last-of-type:checked + label,
  input:last-of-type:checked + span + label { right: 0%; left: auto; }
}